body, p, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px 1fr ;
    grid-template-rows: 150px auto;
}


/* SIDEBAR STYLE AND LAY OUT */


.sidebar {
    background-color: blue;
    color: white;
    grid-row: 1 / 3;
}

.sidebar img {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.logo, .actions, .settings {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 40px;
    align-items: center;
    justify-content: start;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 10px;    
}

.actions h3:hover, .settings h3:hover {
    background-color: white;
    color: blue;
    cursor: pointer;
    padding: 3px;
    border-radius: 25px;
}


/* HEADER STYLE AND LAY OUT */

.header {
    background-color: aliceblue;
}

.header img {
    height: 30px;
    width: 30px;
}

.search .profile {
    height: 35px;
    width: 35px;
    background-color: gray;
    border-radius: 50%;
}

.search h2 {
    font-size: 1rem;
}

.main-content {
    background-color: grey;
}